:root {
	--Strong-cyan: hsl(172, 67%, 45%);
	--Very-dark-cyan: hsl(183, 100%, 15%);
	--Darker-grayish-cyan: hsl(186, 14%, 43%);
	--Dark-grayish-cyan: hsl(184, 14%, 56%);
	--Light-grayish-cyan: hsl(185, 41%, 84%);
	--very-Light-grayish-cyan: hsl(189, 41%, 97%);
	--White: hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Space Mono', monospace;
	width: 100%;
	min-height: 100vh;
	background: var(--Light-grayish-cyan);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	user-select: none;
}

/* ------------------------- General Style ----------------- */

input {
	background-color: hsla(197, 7%, 81%, 0.2);
	font-family: 'Space Mono', monospace;
	width: 100%;
	font-weight: 700;
	font-size: 1.1rem;
	border-radius: 5px;
	font-family: 'Space Mono', monospace;
	color: var(--Very-dark-cyan);
	border: 2px solid transparent;
	outline: none;
}

input:focus {
	border: 2px solid var(--Strong-cyan);
}

.tip-percent > div > p,
.bill > div > p,
.people-nums > div > p {
	font-size: 0.9rem;
	color: var(--Very-dark-cyan);
	font-weight: 700;
	margin-bottom: 10px;
}

.tip-percent > div,
.bill > div,
.people-nums div {
	display: flex;
	justify-content: space-between;
}

.warn-msg {
	display: none;
	color: #ff5353 !important;
	opacity: 0.8;
	font-size: 0.8rem;
	font-weight: 600 !important;
	animation: show 0.6s ease-in forwards;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* ------------------------- Title ----------------- */
.title h1 {
	font-size: 1.1rem;
	color: var(--Very-dark-cyan);
	letter-spacing: 6px;
}

.container {
	margin-top: 3rem;
	width: 60vw;
	background-color: var(--very-Light-grayish-cyan);
	border-radius: 10px;
	box-shadow: 2px 2px 20px 5px hsla(172, 67%, 45%, 0.3);
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'bill tip'
		'tip-percent tip'
		'people-nums tip';
	gap: 2rem;
	/* justify-content: center;align-items: center; */
}

/* --------------------------Section: Bill------------------- */

.bill {
	grid-area: bill;
}

.tip-percent {
	grid-area: tip-percent;
}

.bill .input {
	position: relative;
}

.bill input {
	padding: 0.4rem 1rem;
	text-align: right;
	padding-left: 20px;
}

.bill input::placeholder {
	opacity: 0.5;
	font-size: 1.1rem;
}

.bill .input::after {
	content: '';
	background: url('/images/icon-dollar.svg') no-repeat;
	object-fit: contain;
	position: absolute;
	/* height: 10px; */
	/* width: 10px; */
	left: 10px;
	top: 12px;
	padding: 10px;
}

.bill.warn input {
	border-color: #ff5353;
}

.bill.warn .warn-msg {
	display: block;
}

/* ------------------------Section: tip-percent------------------- */

.tip-percent .percents {
	display: flex;
	flex-wrap: wrap;
	border-radius: 5px;
	gap: 1rem;
}

.percents div:not(.input) {
	background: var(--Very-dark-cyan);
	padding: 0.4rem 0.8rem;
	max-width: 180px;
	width: 100px;
	font-weight: 700;
	border-radius: 5px;
	text-align: center;
	font-size: 1.4rem;
	color: var(--very-Light-grayish-cyan);
	cursor: pointer;
}

.percents div {
	flex-grow: 1;
}

.percents .input {
	width: 100px;
	max-width: 140px;
}

.percents .input input {
	padding: 0.6rem 0.8rem;
}

.percents .input input::placeholder {
	color: var(--Very-dark-cyan);
	font-size: 1.2rem;
	font-weight: 700;
	opacity: 0.7;
}

.percents div.select:not(.input) {
	background-color: var(--Strong-cyan);
	color: var(--Very-dark-cyan);
}

/* ------------------------Section: People Numbers */

.people-nums {
	grid-area: people-nums;
}

.people-nums .input {
	position: relative;
}

.people-nums .input input {
	text-align: right;
	padding: 0.4rem 1rem;
}

.people-nums .input input::placeholder {
	opacity: 0.5;
}

.people-nums .input::after {
	content: '';
	background: url('/images/icon-dollar.svg') no-repeat;
	object-fit: contain;
	position: absolute;
	left: 10px;
	top: 12px;
	padding: 10px;
}

.people-nums.warn input {
	border-color: #ff5353;
}

.people-nums.warn .warn-msg {
	display: block;
}

/* ----------------------------- Section: Show Tip ----------------- */

.tip {
	grid-area: tip;
	background-color: var(--Very-dark-cyan);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	justify-content: space-between;
}

.tip .tip-amount-container,
.tip .total-container {
	display: flex;
	margin: 1.5rem 0;
	justify-content: space-between;
	align-items: center;
}

.tip p {
	color: var(--very-Light-grayish-cyan);
	font-size: 0.9rem;
}

.tip .person {
	color: var(--Light-grayish-cyan);
	font-size: 0.6rem;
	opacity: 0.7;
}

.tip h1 {
	color: var(--Strong-cyan);
	font-size: 2.4rem;
}

.tip .btn {
	margin-top: 3rem;
	display: inline-block;
	text-decoration: none;
	background-color: hsla(177, 78%, 32%, 0.7);
	opacity: 0.8;
	width: 100%;
	color: var(--Very-dark-cyan);
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
	padding: 0.45rem 0;
}

@media (max-width: 1000px) {
	.container {
		width: 87vw;
	}
}

@media (max-width: 700px) {
	.title {
		margin-top: 2rem;
	}

	.title h1 {
		font-size: 2.5rem;
		margin: 0 auto;
	}
	.container {
		width: 80vw;
		grid-template-columns: 1fr;
		grid-template-areas:
			'bill'
			'tip-percent'
			'people-nums'
			'tip';
	}
}

@media (max-width: 500px) {
	.container {
		width: 90vw;
	}

	.percents div {
		flex-grow: 1;
	}

	/* .tip-percent .percents {
		flex-basis: 1;
	} */
}
